div#dietContent{
	background-color: none;
	text-align: center;
	border: 1px solid;
	border-radius: 180px;
	width: 100px auto;
	margin-bottom: 50px;
}
input.input{
	border-style: ridge;
	border-radius: 10px;
}
label#input{
	margin-left: 20px;
}
#medInput{
	text-align: center;
}
